<!DOCTYPE html>
<!-- Has all the shared HTML across the pages -->

<html>
<head>

	<link rel="shortcut icon" href="/static/favicon.ico" type = "image/x-icon">
	<!--  Link to CSS file -->
	<link rel="stylesheet" href="/static/styles.css">

		<!--Conditionals in Flask-->
	{% if title %}
		<title>National Park Service Kiosk - {{ title }}</title>	
	{% else %}
		<title>National Park Service Kiosk </title>
	{% endif %}

</head>
<body>


	<!-- Nav Bar -->

	<div class="topnav">
		<a class="active" href="{{ url_for('home') }}">Home</a>
		<a href = "{{ url_for('about') }}">About</a>
		<a href = "{{ url_for('lessonplans') }}">Lesson Plans/People</a>
		<a href = "{{ url_for('articles') }}">Articles</a>
		<a href = "{{ url_for('campgrounds') }}">Campgrounds</a>
	</div>

	{% block content %} {% endblock content %}
</body>
</html>